
:root {--primary-color: #61BB25;
    --secundary-color: #1488E1;
    --accentt1-color: rgb(105, 91, 58);
    --accentt2-color: rgb(160, 187, 180);


}
* {
    font-family: "Poppins", sans-serif;
}
body {
    
    margin: 0px;
    
    background-color: var(--primary-color);
    
    
}
header {
    display: grid;
    margin: 0px;
    width: 100%;
}


.main_about {
    margin: 20px;
    
}

                
           

img {
    margin-left: 20%;
    margin-right: 60%;
                    
                
}


a {
    padding: 10px;
    
    align-items: center;
    color: black;
    text-decoration: none;
    margin: 3%;
    font-size: 18px;
                
}

a:hover {
    color: var(--primary-color);
}

             
            
            
        

    

.grid {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    height: 174px;
    width: 100%;
    justify-content: space-around;
    background-color: #fff;
}
.menu{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
}
.footer_img {
    display: flex;
    margin: 5%;
}
header, footer, .grid {
    margin: 0 auto;
    max-width: 100%;
}


            
.imgadventure {
        display: flex;
        margin: 5px;
        
        
        
}
    
.adventure_h2{
        display: grid;
        justify-content: center;

        
        
    }




aside {
    
    position: relative;
}
.hero {
    
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    border: 1px solid;
    justify-content: center;
    grid-gap: 10%;
    
}

.heroimg {
        float: right;
        width: 350px;
        height: 350px;
        
        
    }
        

.imgadventure {
    
    display: flex;
    gap: 1px;
    border: 1px #000;
    
    
    
}
footer {
    display: grid;
    justify-content: center;
    width: 100%;
}
.footer_img {
    gap: 0.1px;
    margin-left: 70%;
    
    width: 460px;
    

}
.social_media {
    border: none;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;

}
form {
    width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border:  1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accentt2-color);
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {

    width: 22px;
    height: 22px;
    vertical-align: bottom;
 }

.contact_button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 1.2rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: var(--primary-color);
}
footer { 
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: black;
    border-top: 1px solid black;
    

}
.form-item {
    display: grid;
    align-items: center;
    border: 1px solid #000;
}
.main_contact {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    
    
    
}
.contact-us-content {
    
    background-color: var(--accentt2-color);
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
    
    
    
}
.contact-information {
    width: 400px;
}
.contact_title {
 text-transform: capitalize;
 color: #000;
 font-size: 50px;
 height: 100px;
 text-decoration: dotted;
}
.happy_employees {
    display: flex;
    
}
.wireframelogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.logolink {
    border: none;
    margin-left: 8%;
}
.logodescription {

    font-size: 20px;

}

.subtitleimghappy {
    margin-left: 30%;
    text-align: center;
}
.imgheading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url(../images/raftingheadingimg1.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.imgheadingfull {

    align-items: center;
    
    
}
.logo_img {
    margin:8%;
}
.img_heading_text {
    width: 300px;
    height: 200px;
    margin-left: 5%;
    margin-bottom: 10%;
}


.top_text_heading {
    font-size: 30px;
    color: #fff;
}

.login_form_div {
    width: 100%;
    margin: 0px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #fff;
}
.user_form{
    border: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
   
}
.fieldset_login {
    border: none;
    
}
.form_item_label {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
}
.log_in_button {
    width: 10%;
    
    background-color: navy;
    color: #fff;
    border: none;
    height: 50px;
    margin-left: 4%;
    
}

.tripsinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    
    margin-top: 30px;
    
    
  }
  
  .tripsimg_link {
    grid-column: 1;
  }
  
  .trips_paragraphs {
    grid-column: 2;
    margin-right: 8%;
    text-align: justify;
  }
  .tittle_trips_link {
    width: 170px;
    height: 40px;
    border: 1px solid #000;
    margin-left: 44%;
    background-color: green;
    text-align: center;
    border-radius: 10px;
    
  }
.tittle_trips_link:hover {
    background-color: var(--secundary-color);
    color: #fff;
    border: none;
}
.title_trips_info {
    font-size: 20px;
    margin-top: 0px;
}
.tripstittle {
    text-align: center;
    font-size: 40px;
}
.imgdescriptiongrid {
    width: 250px;
    height: 900px;
    justify-content: center;
    color: var(--accentt1-color);
}
.imgrid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20%;
    width: 100%;
    
}
.grid_layout_img1 {
    grid-column: 1;
    text-align: justify;
    justify-content: space-around;

}
.grid_layout_img2 {
    grid-column: 2;
    text-align: justify;

}
.grid_layout_img3 {
    grid-column: 3;
    text-align: justify;

}