
:root {--primary-color: #61BB25;
    --secundary-color: #1488E1;
    --accentt1-color: rgb(105, 91, 58);
    --accentt2-color: rgb(160, 187, 180);


}

body {
    background-color: var(--primary-color);
    header { 
        display: grid;
       
        
        grid-gap: 20px;
       
        
        p {
            display: grid;
            justify-content: center;
            margin: 5%;
            border: 1px solid ;
            align-items: center;
            
            
        }
        h1 {
            display: grid;
            justify-content: center;
            align-items: center;
            
        }
        .grid {
            display: flex;
            justify-content: space-around;
            background-color: var(--accentt2-color);
            display: grid;
            height: 200px;
            width: 100%;
            align-items: center;
             nav{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 200px;
                

                
                

                img {
                    margin-left: 20%;
                    margin-right: 60%;
                    
                }
                
                

                a {
                    padding: 10px;
                    border: 1px solid black;
                    text-decoration: black;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    align-items: center;
                }
             }
            
            
        }

    }
}
.footer_img {
    display: flex;
}
header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}
main {

    section {
            
        div {
        display: flex;
        
        justify-content: center;
        align-items: center;
        gap: 5%;
        }
    }
    h2 {
        display: grid;
        justify-content: center;

        
        
    }


}

aside {
    
    position: relative;
}
.hero {position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    border: 1px solid;
    justify-content: center;
    grid-gap: 10%;
    

    article {
        position: absolute;
    }
    img {
        float: right;
        width: 350px;
        height: 350px;
        
        ;
    }
        
    h1 {
            position: absolute;
    
        }
    }
.imgadventure {
    width: 100%;
    display: flex;
    gap: 1px;
    
    
    
}
footer {
    display: grid;
    justify-content: center;
}